# Exportar datasets (pandas)

In [1]:
import pandas as pd

In [3]:
ninja_turtles = {
    'name': ['Raphael', 'Donatello'],
    'mask': ['red', 'purple'],
    'weapon': ['sai', 'bo staff']
}

In [4]:
df = pd.DataFrame(ninja_turtles)

In [5]:
df

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

```python
df.to_clipboard
df.to_csv
df.to_dict
df.to_excel
df.to_hdf
df.to_html
df.to_json
```

## to_csv

In [6]:
df.to_csv('datasets/ninja_turtles.csv')

### to_csv params

* **path_or_buf**: `str` ruta del archivo destino.
* **sep**: default `','`, `str` criterio de separación
* **na_rep**: default `''`, `str` caracter/es con los cuales reemplazar `NaN`. 
* **columns**: `iterable` columnas a escribir.
* **header**: default `True`, `bool` or `list of str` exportar o no los nombres de columnas, si se especifica una lista, se consideran "aliases" de los nombres existentes.
* **index**: default `True`, `bool` exportar los índices o no.
* **mode**: default `'w'`, `str`.
* **date_format**: `str` formato de fecha a exportar. 
* **decimal**: default `'.'`, `str` criterio de separación decimal.

In [ ]:
df.to_csv('ninja_turtles.csv', index=False)

## to feather

Se trata de un formato de archivo para almacenar DataFrames o tablas *Arrow* con Python y R.

In [ ]:
! pip install feather-format

In [ ]:
df.to_feather('datasets/df.fea')

## to_dict

In [7]:
df.to_dict()

{'name': {0: 'Raphael', 1: 'Donatello'},
 'mask': {0: 'red', 1: 'purple'},
 'weapon': {0: 'sai', 1: 'bo staff'}}

In [8]:
df.to_dict(orient='list')

{'name': ['Raphael', 'Donatello'],
 'mask': ['red', 'purple'],
 'weapon': ['sai', 'bo staff']}

¡La documentación es tu amiga! [to_dict](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_dict.html)

## to_excel

In [ ]:
df.to_excel('ninja_turtles.xlsx')

¡La documentación es tu amiga! [to_excel](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html)

## to_hdf

In [ ]:
df.to_hdf('ninja_turtles.h5', 'table')

¡La documentación es tu amiga! [to_hdf](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_hdf.html)

## to_html

In [ ]:
df.to_html('ninja_turtles.html')

¡La documentación es tu amiga! [to_html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_html.html)

## to_json

In [ ]:
df.to_json('ninja_turtles.json')

In [ ]:
df.to_json('ninja_turtles.json', 'table')

¡La documentación es tu amiga! [to_json](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_html.html)

## Ejercicios

Dado el siguiente `DataFrame`:

In [ ]:
import pandas as pd

url = 'https://github.com/mattharrison/datasets/raw/master/data/dirtydevil.txt'
df = pd.read_csv(url, skiprows=lambda num: num <34 or num == 35, 
                 sep='\t', index_col='datetime', parse_dates=True)

In [ ]:
df.head()

❔ ¿Cuál es el index del Axis 0?

❔ ¿Qué tipo de objectos componen el index?

Exportar `df` a un archivo con extensión `xlsx`.
* ¿Qué error aparece en este proceso?
* ¿A qué se debe?
* Documentar la solución

Expotart `df` a un archivo de extensión `json`.
* ¿Cómo se exportaron los values del index?