# Tipos de datos

![](https://machinelearningmastery.com/wp-content/uploads/2020/06/Overview-of-Data-Variable-Types2.png)

## Numéricos

Este tipo de datos permite calcular de manera directa algunos indicadores de interés general como promedios, máximos, mínimos, media, mediana, etc.

* **entero**: *discreto*
    * Cantidad de hijos
    * Edad
* **flotante**: *continuo*
    * Temperatura
    * Salario
    * Nivel de pH

## Categórico

Este tipo de variable se puede agrupar, formando *categorías*.

* **nominal**: No se puede ordenar.
    * Ocupación
    * Industria
    * Universidad
    * Ciudad
* **ordinal**: Se puede ordenar.
    * Nivel de satisfacción (0-10)
    * Estrellas (1-5)
    * Talles de prendas como 'S', 'M', 'L', XL'
* **booleano**: Sólo dos posibles valores.
    * Yes/No
    * Female/Male
    * Alive/Dead

In [60]:
import pandas as pd
df_nba = pd.read_csv('datasets/nba_players.csv', index_col=False)

In [61]:
df_nba.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Travis Knight,LAL,22,213.36,106.59412,Connecticut,USA,1996.0,1.0,...,4.8,4.5,0.5,6.2,0.127,0.182,0.142,0.536,0.052,1996-97
1,1,Matt Fish,MIA,27,210.82,106.59412,North Carolina-Wilmington,USA,1992.0,2.0,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30,208.28,106.59412,Iowa,USA,NaN,NaN,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29,210.82,111.13004,Providence,USA,NaN,NaN,...,7.8,4.4,NaN,-9.0,0.083,NaN,0.167,NaN,0.101,1996-97
4,4,Martin Muursepp,DAL,22,205.74,106.59412,None,USA,1996.0,1.0,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97

In [62]:
df_nba.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [63]:
df_nba.player_name

0              Travis Knight
1                  Matt Fish
2               Matt Bullard
3               Marty Conlon
4            Martin Muursepp
                ...
11695    Matthew Dellavedova
11696       Maurice Harkless
11697              Max Strus
11698      Marcus Morris Sr.
11699           Aaron Gordon
Name: player_name, Length: 11700, dtype: object

La serie con index `player_name` contiene variables del tipo **categórico** y **nominal**.

In [64]:
df_nba.team_abbreviation

0        LAL
1        MIA
2        HOU
3        BOS
4        DAL
        ...
11695    CLE
11696    SAC
11697    MIA
11698    LAC
11699    DEN
Name: team_abbreviation, Length: 11700, dtype: object

La serie con index `team_abbreviation` contiene variables del tipo **categórico** y **nominal**.

In [65]:
df_nba.age

0        22
1        27
2        30
3        29
4        22
         ..
11695    30
11696    28
11697    25
11698    31
11699    25
Name: age, Length: 11700, dtype: int64

La serie con index `age` contiene variables del tipo **numérico** y **entero**.

In [36]:
df_nba.player_height

0       213.36
1       210.82
2       208.28
3       210.82
4       205.74
         ...
2726    208.28
2727    198.12
2728    213.36
2729    200.66
2730    208.28
Name: player_height, Length: 2731, dtype: float64

La serie con index `player_height` contiene variables del tipo **numérico** y **flotante**.

In [37]:
df_nba.player_weight

0       106.59412
1       106.59412
2       106.59412
3       111.13004
4       106.59412
          ...
2726    122.46984
2727     95.25432
2728    115.66596
2729    115.66596
2730    115.66596
Name: player_weight, Length: 2731, dtype: float64

La serie con index `player_weigth` contiene variables del tipo

In [38]:
df_nba.college

0                     Connecticut
1       North Carolina-Wilmington
2                            Iowa
3                      Providence
4                            None
                  ...
2726                       Temple
2727                         None
2728                       Auburn
2729                       Drexel
2730                    Villanova
Name: college, Length: 2731, dtype: object

La serie con index `college` contiene variables del tipo

In [40]:
df_nba.country

0             USA
1             USA
2             USA
3             USA
4             USA
          ...
2726          USA
2727    Argentina
2728      Senegal
2729          USA
2730          USA
Name: country, Length: 2731, dtype: object

La serie con index `country` contiene variables del tipo

In [41]:
df_nba.draft_year

0            1996
1            1992
2       Undrafted
3       Undrafted
4            1996
          ...
2726         1997
2727         1999
2728         2000
2729         1996
2730    Undrafted
Name: draft_year, Length: 2731, dtype: object

La serie con index `draft_year` contiene variables del tipo

In [43]:
df_nba.draft_round

0               1
1               2
2       Undrafted
3       Undrafted
4               1
          ...
2726            2
2727            2
2728            1
2729            2
2730    Undrafted
Name: draft_round, Length: 2731, dtype: object

La serie con index `draft_round` contiene variables del tipo

In [45]:
df_nba.draft_number

0              29
1              50
2       Undrafted
3       Undrafted
4              25
          ...
2726           37
2727           57
2728           26
2729           44
2730    Undrafted
Name: draft_number, Length: 2731, dtype: object

La serie con index `drraft_number` contiene variables del tipo

In [59]:
df_nba.gp

0       71
1        6
2       71
3       74
4       42
        ..
2726    77
2727    69
2728    22
2729    79
2730    80
Name: gp, Length: 2731, dtype: int64

> gp: games played.  

La serie con index `gp` contiene variables del tipo

In [47]:
df_nba.pts

0        4.8
1        0.3
2        4.5
3        7.8
4        3.7
        ...
2726     5.5
2727     7.6
2728     5.5
2729    10.4
2730     9.6
Name: pts, Length: 2731, dtype: float64

> pts: points.  

La serie con index `pts` contiene variables del tipo

In [48]:
df_nba.reb

0       4.5
1       0.8
2       1.6
3       4.4
4       1.6
       ...
2726    2.9
2727    2.3
2728    3.7
2729    6.4
2730    5.3
Name: reb, Length: 2731, dtype: float64

> rb: rebounds.  

La serie con index `reb` contiene variables del tipo

In [49]:
df_nba.ast

0       0.5
1       0.0
2       0.9
3       1.4
4       0.5
       ...
2726    0.5
2727    2.0
2728    0.3
2729    1.6
2730    0.7
Name: ast, Length: 2731, dtype: float64

> ast: assist.  

La serie con index `ast` contiene variables del tipo

In [50]:
df_nba.net_rating

0        6.2
1      -15.1
2        0.9
3       -9.0
4      -14.5
        ...
2726     2.9
2727     6.8
2728    -3.2
2729     6.3
2730    -8.3
Name: net_rating, Length: 2731, dtype: float64

> NBA's efficiency rating: (PTS + REB + AST + STL + BLK − ((FGA − FGM) + (FTA − FTM) + TO)).

La serie con index `net_rating` contiene variables del tipo

In [51]:
df_nba.oreb_pct

0       0.127
1       0.143
2       0.016
3       0.083
4       0.109
        ...
2726    0.099
2727    0.039
2728    0.084
2729    0.095
2730    0.065
Name: oreb_pct, Length: 2731, dtype: float64

> oreb: offensive rebounds.  

La serie con index `oreb_pct` contiene variables del tipo

In [52]:
df_nba.dreb_pct

0       0.182
1       0.267
2       0.115
3       0.152
4       0.118
        ...
2726    0.151
2727    0.091
2728    0.167
2729    0.210
2730    0.151
Name: dreb_pct, Length: 2731, dtype: float64

> dreb: deffensive rebounds.  

La serie con index `dreb_pct` contiene variables del tipo

In [53]:
df_nba.usg_pct

0       0.142
1       0.265
2       0.151
3       0.167
4       0.233
        ...
2726    0.209
2727    0.182
2728    0.164
2729    0.223
2730    0.198
Name: usg_pct, Length: 2731, dtype: float64

> Usage Percentage (available since the 1977-78 season in the NBA); the formula is 100 * ((FGA + 0.44 * FTA + TOV) * (Tm MP / 5)) / (MP * (Tm FGA + 0.44 * Tm FTA + Tm TOV)). Usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor.

La serie con index `usg_pct` contiene variables del tipo

In [54]:
df_nba.ts_pct

0       0.536
1       0.333
2       0.535
3       0.542
4       0.482
        ...
2726    0.508
2727    0.556
2728    0.514
2729    0.538
2730    0.455
Name: ts_pct, Length: 2731, dtype: float64

> ts_pct True shooting percentage.

La serie con index `ts_pct` contiene variables del tipo

In [55]:
df_nba.ast_pct

0       0.052
1       0.000
2       0.099
3       0.101
4       0.114
        ...
2726    0.058
2727    0.163
2728    0.031
2729    0.112
2730    0.042
Name: ast_pct, Length: 2731, dtype: float64

> assistance percentage.

La serie con index `ast_pct` contiene variables del tipo

In [56]:
df_nba.season

0       1996-97
1       1996-97
2       1996-97
3       1996-97
4       1996-97
         ...
2726    2002-03
2727    2002-03
2728    2002-03
2729    2002-03
2730    2002-03
Name: season, Length: 2731, dtype: object

La serie con index `season` contiene variables del tipo