# Data cleaning

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('datasets/nba_players.csv', index_col=0)
df.head()

In [ ]:
df.head()

In [ ]:
df.rename(columns={'team_abbreviation': 'team', 'pts': 'points'})

## rename()

¡La documentación es tu amiga! [rename](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)

In [ ]:
songs = pd.DataFrame({
    'data': [145, 142, 38, 13],
    'name': 'counts'
})

songs

❓ ¿Cómo renombrar los `index` con los siguientes `str`?

In [ ]:
names = ['Paul', 'John', 'George', 'Ringo']

❓¿La *posición* de los index cambió?

## drop_duplicates()

¡La documentación es tu amiga! [drop_duplicates](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [ ]:
df_duplicates = pd.concat([df.head(10), df.head()])
df_duplicates

In [ ]:
df_duplicates.size

In [ ]:
df_duplicates.drop_duplicates()

In [ ]:
df_duplicates.drop_duplicates().size

❓¿Cómo eliminar valores duplicados teniendo en cuénta sólo una columna?

In [ ]:
presidents = {
    'President':[
        'George Washington', 'John Adams', 
        'Thomas Jefferson', 'James Madison', 
        'James Monroe', 'George H . W . Bush', 
        'Bill Clinton ', 'George W. Bush', 
        'Barack Obama', 'Donald Trump'
    ],
    'Party': [
        'Independent', 'Federalist', 
        'Democratic-Republican', 'Democratic-Republican', 
        'Democratic-Republican', 'Republican', 'Democratic', 
        'Republican', 'Democratic', 'Republican'
    ],
    'Average_rank': [
        1, 13, 5, 7, 8, 21, 16, 33, 17, 42
    ]
}

df_presidents = pd.DataFrame(presidents)

In [ ]:
df_presidents

In [ ]:
presidents_df.drop_duplicates(subset='Party')

In [ ]:
presidents_df.drop_duplicates(subset='Party', keep='last')

In [ ]:
presidents_df.drop_duplicates(subset='Party', keep=False)

## is_null()

Detecta datos faltantes en el DatFrame y devuelve un objeto similar con booleanos, donde `True` indica que en ese lugar hay un dato faltante.

In [ ]:
df.isnull().head()

## NaN

*Not a Number*. Cuando pandas no puede determinar un *valor numérico* para asignar a una entrada, le asigna `NaN`. Generalmente estos **NO AFECTAN** operaciones aritméticas.

In [ ]:
! pip install numpy

In [ ]:
import numpy as np

nan_series = pd.Series(
    [2 , np.nan ],
    index =['Ono' , 'Clapton']
)

nan_series

> Nótese que dype es `float64` ya que este tipo de dato admite NaN, no así `int64`.

In [ ]:
nan_series.count()

In [ ]:
nan_series.size

## is_na()

Detecta NaN en el DatFrame y devuelve un objeto similar con booleanos, donde `True` indica que en ese lugar hay un NaN.

In [ ]:
df.isna()

## dropna()

Elimina NaN.

¡OJO! 

Hay que asegurarse de que es correcto "dropear" la data que contiene NaN.

In [ ]:
df.head()

In [ ]:
df.dropna().head()

In [ ]:
df.size, df.dropna().size

### any

Elimina aquellas filas en las que todos los valores son NaN

In [ ]:
df.head(11)

In [ ]:
df.dropna(how='any').head(11)

### thresh

Elimina las filas que contengan al menos una cantidad de valores que no sean NaN

In [ ]:
df.head(3)

In [ ]:
df.shape

In [ ]:
df.dropna(thresh=20).head(3)

### subset

Definir en qué conjunto de columnas buscar valores NaN y eliminar las filas que lo contengan

In [ ]:
df.head(5)

In [ ]:
df.dropna(subset=['reb', 'net_rating'])

## fillna()

Reemplaza NaN con un valor o método dados.

In [ ]:
df.head(15)

In [ ]:
df.fillna(0).head(15)

In [ ]:
df.head()

### ffill

Propagar valores no nulos a lo largo de la columna

In [ ]:
df = pd.read_csv('datasets/nba_players.csv', index_col=0)

In [ ]:
df.head()

In [ ]:
df.fillna(method='ffill')

### values

Especificar valores específicos para cada columna

In [ ]:
df = pd.read_csv('datasets/nba_players.csv', index_col=0)

In [ ]:
df.head()

In [ ]:
values = {
    'draft_year': 1995,
    'draft_round': 2
}

df.fillna(value=values, limit=1)

### mean

Reemplazar los NaN con el promedio de los valores no nulos

In [ ]:
df = pd.read_csv('datasets/nba_players.csv', index_col=0)

In [ ]:
df.head()

In [ ]:
df.reb.mean()

In [ ]:
rb_mean = round(df.reb.mean(), 2)
df.fillna(value={'reb': rb_mean})

### median

Reemplazar los NaN con la mediana de los valores no nulos

In [ ]:
df = pd.read_csv('datasets/nba_players.csv', index_col=0)

In [ ]:
df.head()

In [ ]:
df.reb.median()

In [ ]:
df.fillna(value={'reb': df.reb.median()})

### mode

Reemplazar los NaN con la moda de los valores no nulos

In [ ]:
df = pd.read_csv('datasets/nba_players.csv', index_col=0)

In [ ]:
df.head()

In [ ]:
df.reb.mode()

In [ ]:
df.fillna(value={'reb': df.reb.mode()})